/* ======================================================
 * Cinnamon Panels
 * ====================================================== */

/**
 * Darken panels background and remove borders
 */

.panel {
  &-top, &-bottom, &-left, &-right {
    @if ($variant=='dark') { background-color: transparentize(#131313, 0.01); }
    box-shadow: none;
  }
}

/*
 * Don't use bold fonts in panels
 */

#panel {
  font-weight: normal;
}

.panel {
  &-status-button {
    font-weight: normal;
  }

  &-button {
    font-weight: normal;
  }
}

.overview-empty-placeholder {
  font-weight: normal;
}

.window-list {
  &-item-box {
    font-weight: normal;
  }
}

.applet {
  &-label {
    font-weight: normal;
  }
}

.user-label {
  font-weight: normal;
}

/*
 * Reduce spacing between window-list items and remove the left padding.
 */

.panel {
  &Left, &Center, &Right {
    spacing: 0;
  }
}

.window-list {
  &-box {
    spacing: 1px;
    padding-left: 0;

    &.vertical {
      spacing: 1px;
      padding: 0;
    }
  }
}

/*
 * Prettier tooltips
 */

#Tooltip {
  color: $fg_color;
  border: 1px solid $borders_color;
  background-color: $bg_color;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 1em;
}

/*
 * Prettier workspace switcher
 */

$workspace_btn_size: 10px;
$workspace_btn_border_size: 1px;

.workspace-switcher {
  padding: 0;
}

.workspace-button {
  &, &.vertical {
    &, &:outlined {
      &, &:hover {
        border: none;
        background-color: transparent;
        color: transparent;
        width: #{$workspace_btn_size + 2*$workspace_btn_border_size};
        height: #{$workspace_btn_size + 2*$workspace_btn_border_size};
        margin: 0;
        padding: 3px;
      }
    }
  }

  > * {
    font-size: 1px;
    width: $workspace_btn_size;
    height: $workspace_btn_size;
    border-radius: 9999px;
    border: $workspace_btn_border_size solid $fg_color;
    transition-duration: 200;
  }

  &:outlined > *, &:outlined:hover > * {
    background-color: $fg_color;
  }

  &:hover, &:outlined:hover {
    background-color: $noaccent_selected_bg_color;
  }
}

/* ======================================================
 * Cinnamenu
 * ====================================================== */

/*
 * Add padding around cinnamenu button (to look like window list buttons)
 */

.cinnamenu-json-applet {
  padding-left: 8px;
  padding-right: 8px;
}
